[submodule ".registry"]
	path = .registry
	url = https://github.com/satijalab/satijalab.r-universe.dev
	branch = HEAD
[submodule "Seurat"]
	path = Seurat
	url = https://github.com/satijalab/seurat
	branch = seurat4
[submodule "SeuratObject"]
	path = SeuratObject
	url = https://github.com/satijalab/seurat-object
	branch = v4.1.4
[submodule "enrichR"]
	path = enrichR
	url = https://github.com/wjawaid/enrichR
[submodule "presto"]
	path = presto
	url = https://github.com/immunogenomics/presto
