[submodule ".registry"]
	path = .registry
	url = https://github.com/satijalab/universe
	branch = HEAD
[submodule "BPCells"]
	path = BPCells
	url = https://github.com/bnprks/BPCells
	registered = false
[submodule "Seurat"]
	path = Seurat
	url = https://github.com/satijalab/seurat
	branch = seurat5
[submodule "Seurat4"]
	path = Seurat4
	url = https://github.com/satijalab/seurat
	branch = seurat4
[submodule "SeuratObject"]
	path = SeuratObject
	url = https://github.com/mojaveazure/seurat-object
	branch = seurat5
[submodule "presto"]
	path = presto
	url = https://github.com/immunogenomics/presto
